.container {
  display: flex;
  column-gap: 45px;

}


.link svg{
  height: 2em;
  width:  2em;
}

.link svg path{
  fill: var(--textThemeColor);
}

.link:hover svg path{
  fill: var(--accent);
}

.link:hover svg{
  transform: scale(1.2);
}