@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pacifico&display=swap');

:root {
  background-color: white;
  --textThemeColor: black;
  --pageNameColor: #f4f4f4;
  --accent: #8cd9d6;
}
.dark {
  background: black;
  --textThemeColor: white;
  --pageNameColor: #111111;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}


@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #202021;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);;
}

