@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pacifico&display=swap');

:root {
  --backgroundTheme: white;
  --textThemeColor: black;
  --textThemeColorReverse: white;
  --pageNameColor: #f4f4f4;
  --accent: #2C90B6;
  background: var(--backgroundTheme);
}
.dark {
  --backgroundTheme: black;
  --textThemeColor: white;
  --textThemeColorReverse: black;
  --pageNameColor: #111111; //#2c73b51f
  background: var(--backgroundTheme);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}


@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  user-select: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #202021;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);;
}

