@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pacifico&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #202021;
}
::-webkit-scrollbar-thumb {
  background: #fbd12e;
}