.container {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    column-gap: 50px;

    .list__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 50px;
      
        .link {
          color: var(--textThemeColor);
          font-size: 18px;
        }
        .link:hover {
          color: var(--accent);
        }
        .active {
          // display: none;
          color: var(--accent);
        }
      }
}