.container {
    background: black;
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.container h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}